body {
  background-image: url("https://png.pngtree.com/thumb_back/fw800/back_our/20190619/ourmid/pngtree-pink-romantic-beautiful-cosmetics-psd-layered-master-map-background-material-image_132613.jpg");
  background-size: cover;
  text-align: center;
}

.bio {
  height: 50%;
  width: 700px;
  font-size: 30px;
  background-color: palevioletred;
  padding: 20px;
  margin-bottom: 20px;
}

.info {
  height: 50%;
  width: 400px;
  font-size: 30px;
  background-color: goldenrod;
  padding: 20px;
  margin-bottom: 20px;
}

h2 {
  font-size: 25px;
}

.pic {
  height: 200px;
  width: 200px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  margin: 10px;
}

.skills {
  background-color: skyblue;
  height: 50%;
  width: 100%;
}

.other{
  background-color: blueviolet;
  height: 80%;
  width: 80%;
  margin: 20px;
}