body {
  background-image: url("https://png.pngtree.com/thumb_back/fw800/back_our/20190619/ourmid/pngtree-pink-romantic-beautiful-cosmetics-psd-layered-master-map-background-material-image_132613.jpg");
  background-size: cover;
  text-align: center;
}

.pic {
  height: 200px;
  width: 200px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  margin: 20px;
  transition: ease-in-out 300ms;
  -webkit-box-shadow: 0px 0px 12px -4px #000000;
  box-shadow: 0px 0px 12px -4px #000000;
  z-index: 10;
}

h2 {
  font-size: 25px;
}

.lobster {
  font-family: Lobster;
}

.bio {
  height: 50%;
  width: 80%;
  font-size: 20px;
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 3em;
  text-align: center;
  background-color: palevioletred
}

.info {
  height: 50%;
  width: 400px;
  font-size: 30px;
  padding: 20px;
  margin-bottom: 20px;
}

.skills {
  background-color: skyblue;
  height: 50%;
  width: 100%;
  padding: 10px;
  margin: 10px;
}

.symbols {
  margin-top: 30px;
  height: 100px;
  width: auto;
  padding: 0 10px;
}