.header {
  text-align: center;
  font-family: lobster;
}

.symbol {
  height: 50px;
  width: auto;
}

.delivery {
  margin-top: 20px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  transition: ease-in-out 300ms;
  box-shadow: 5px 10px 10px 10px #888888;
  -webkit-box-shadow: 5px 10px 10px 10px #888888;
}